@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lato", sans-serif;
}

.lato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold-500 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal; 
}

.lato-bold-600 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lato-bold-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-extra-bold {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
